body{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 40px;
  color: #1C343B;
}

h2{
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  font-size: 25px;
  color: #24444D;
}


.main{
  margin: auto;
}

p{
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #000;
  margin-top: 40px;
  margin-bottom: 50px;
}

em{
  font-weight: bold;
  font-style: normal;
}

#source{
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  text-align: left;
  color: #000;
  margin-top: 10px;
  margin-bottom: 50px;
}



/* Button Fomatting */

#button-wrap {
  align-items: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  margin-bottom: 50px;
  padding-left: 45px;
}

/* Dropdown Menu Buttons */

.button {
  cursor: pointer;
  float: left;
  font-family: 'Arial', sans-serif;
  width: 200px;
  height: 30px;
  text-align: center;
  background: #fcfcfc;
  border: 1px solid #444B4A;
  display: block;
  color: black;
  position: absolute;

}

/* Primary Categories */

.button2 {
  cursor: pointer;
  float: left;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  width: 200px;
  height: 30px;
  text-align: center;
  background: #fcfcfc;
  border: 1px solid #cecece;
  display: block;
  padding-top: 4px;
  padding-bottom: 5px;
  margin-top: 10px;
  color: black;
  margin-right: 0px;

}

.button2.active {
  display: block;
  background-color: #D2E8E5;
  color: black;
  cursor: pointer;


}

.button.active {
  display: block;
  background-color: #D2E8E5;
  color: black;
  cursor: pointer;


}

button:hover{
  display: block;
  box-shadow: inset 0px 0px 7px rgba(0,0,0,0.18);
  background-color: #D2E8E5;
  color: black;
  cursor: pointer;
}

button.selected{
  display: block;
  background-color: #D2E8E5;
  color: black;
  cursor: pointer;

}

/* Dropdown Button Formatting  */
/* adopted from: https://www.w3schools.com/howto/howto_css_dropdown.asp */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 40px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  min-width: 200px;
  background-color: #fcfcfc;
  z-index: 1;
  transition: all 0.5s ease;
}

/* Links inside the dropdown */
.dropdown-content button {
  display: block;
  cursor: pointer;
  background: #e6e6e6;
  border: 1px solid #cecece;
  color: black;
  transition-duration: 0.5s;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  display: block;
  box-shadow: inset 0px 0px 7px rgba(0,0,0,0.18);
  background-color: #D2E8E5;
  color: black;
  cursor: pointer;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #D2E8E5;
  color: #fff;
  cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #e6e6e6;}


.para{
  text-align: justify;
}
span{
  margin-bottom: 40
}
.source{
  font-size: 14px;
  margin-top: 80px;
}
a:link, a:visited{
  text-decoration: none;
  color: #418FC6;
}
.model{
  font-family: 'Roboto', sans-serif;
  color: #444;
}
.title{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  margin-top: 30px;
}
svg text{
  fill: #444;
  font-size: 11px;
}
.y.axis path{
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.axis line, .grid line {
  stroke-width: .5px;
  shape-rendering: crispEdges;
  stroke: #fff;
  opacity: 0.3;
  pointer-events: none;
}
line{
  fill: none;
  stroke-width: 3px;
}
path.line{
  fill: none;
  stroke-width: 1.5px;
  transition: 0.1s;
}

/* Ethnicity Specific CSS */
.aapiEth path.line, .aapiEth line{
  stroke: #7A6981;
}
.whiteEth path.line, .whiteEth line{
  stroke: #707F5E;
}
.blackEth path.line, .blackEth line{
  stroke: #A5836A;
}
.hispEth path.line, .hispEth line{
  stroke: #095E7F;
}
.aianEth path.line, .aianEth line{
  stroke: #759ba2;
}

g.aapiEth circle{
  fill: #7A6981;
  transition: 0.1s;
}
g.whiteEth circle{
  fill: #707F5E;
  transition: 0.1s;
}
g.blackEth circle{
  fill: #A5836A;
  transition: 0.1s;
}
g.hispEth circle{
  fill: #095E7F;
  transition: 0.1s;
}
g.aianEth circle{
  fill: #759ba2;
  transition: 0.1s;
}

.aapiEth .area, .aapiEth rect{
  fill: #7A6981;
  opacity: 0.2;
}
.whiteEth .area, .whiteEth rect{
  fill: #707F5E;
  opacity: 0.2;
}
.blackEth .area, .blackEth rect{
  fill: #A5836A;
  opacity: 0.2;
}
.hispEth .area, .hispEth rect{
  fill: #095E7F;
  opacity: 0.2;
}
.aianEth .area, .aianEth rect{
  fill: #759ba2;
  opacity: 0.2;
}
rect.bg{
  fill: #fff;
}

.aapiEth .label{
  fill: #7A6981;
}
.whiteEth .label{
  fill: #707F5E;
}
.blackEth .label{
  fill: #A5836A;
}
.hispEth .label{
  fill: #095E7F;
}
.aianEth .label{
  fill: #759ba2;
}
.label{
  font-weight: 700px;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
}


.aapiEth text.caption{
  fill: #7A6981;
  font-size: 12px;
}
.whiteEth text.caption{
  fill: #707F5E;
  font-size: 12px;
}
.blackEth text.caption{
  fill: #A5836A;
  font-size: 12px;
}
.hispEth text.caption{
  fill: #095E7F;
  font-size: 12px;
}
.aianEth text.caption{
  fill: #759ba2;
  font-size: 12px;
}

.aapiAll{
  color: #7A6981;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  opacity: 1.0;
  line-height: 120px;
  text-align: left;
  margin-left: 0px;

  /* margin: 75px 0; */
}
.whiteAll{
  color: #707F5E;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  opacity: 1.0;
  line-height: 120px;
  text-align: left;
  margin-left: 0px;

  /* margin: 75px 0; */
}
.blackAll{
  color: #A5836A;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  opacity: 1.0;
  line-height: 120px;
  text-align: left;
  margin-left: 0px;

  /* margin: 75px 0; */
}
.hispAll{
  color: #095E7F;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  opacity: 1.0;
  line-height: 120px;
  text-align: left;
  margin-left: 0px;

  /* margin: 75px 0; */
}
.aianAll{
  color: #759ba2;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  opacity: 1.0;
  line-height: 120px;
  text-align: left;
  margin-left: 0px;
  /* margin: 10px 0; */
}



.tick text{
  text-anchor: end;
}
