body{
  font-family: 'Open Sans', sans-serif;
}
h2{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 60px;
}
.main{
  margin: auto;
}
.para{
  text-align: justify;
}
.source{
  font-size: 14px;
  margin-top: 80px;
}
a:link, a:visited{
  text-decoration: none;
  color: #418FC6;
}
.model{
  font-family: 'Roboto', sans-serif;
  color: #444;
}
.title{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  margin-top: 30px;
}
svg text{
  fill: #444;
  font-size: 11px;
}
.y.axis path{
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}
line{
  fill: none;
  stroke-width: 3px;
}
path.line{
  fill: none;
  stroke-width: 1.5px;
  transition: 0.1s;
}

/* Ethnicity Specific CSS */
.otherEth path.line, .otherEth line{
  stroke: #E7298A;
}
.whiteEth path.line, .whiteEth line{
  stroke: #1B9E77;
}
.blackEth path.line, .blackEth line{
  stroke: #D95F02;
}
.hispEth path.line, .hispEth line{
  stroke: #7570B3;
}

g.otherEth circle{
  fill: #E7298A;
  transition: 0.1s;
}
g.whiteEth circle{
  fill: #1B9E77;
  transition: 0.1s;
}
g.blackEth circle{
  fill: #D95F02;
  transition: 0.1s;
}
g.hispEth circle{
  fill: #7570B3;
  transition: 0.1s;
}

.otherEth .area, .otherEth rect{
  fill: #E7298A;
  opacity: 0.2;
}
.whiteEth .area, .whiteEth rect{
  fill: #1B9E77;
  opacity: 0.2;
}
.blackEth .area, .blackEth rect{
  fill: #D95F02;
  opacity: 0.2;
}
.hispEth .area, .hispEth rect{
  fill: #7570B3;
  opacity: 0.2;
}
rect.bg{
  fill: #fff;
}

.otherEth .label{
  fill: #E7298A;
}
.whiteEth .label{
  fill: #1B9E77;
}
.blackEth .label{
  fill: #D95F02;
}
.hispEth .label{
  fill: #7570B3;
}
.label{
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}


.otherEth text.caption{
  fill: #E7298A;
  font-size: 10px;
}
.whiteEth text.caption{
  fill: #1B9E77;
  font-size: 10px;
}
.blackEth text.caption{
  fill: #D95F02;
  font-size: 10px;
}
.hispEth text.caption{
  fill: #7570B3;
  font-size: 10px;
}



.tick text{
  text-anchor: end;
}
button{
  background: #fff;
  color: #E3314C;
  border: 1px solid #E3314C;
  padding: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  outline: none;
  margin-right: 10px;
  font-size: 12px;
}
button:hover{
  background: #ffcccc;
  cursor: pointer;
}
button.selected{
  background: #E3314C;
  color: #fff;
}